@import "tailwindcss";



@font-face {
  font-family: font1;
  src: url(/src/assets/icomoon.woff);
}
@font-face {
  font-family: font2;
  src: url(/src/assets/FoundersGrotesk-Semibold.woff);
}
@font-face {
  font-family: font3;
  src: url(/src/assets/FoundersGrotesk-Semibold.woff2);
}
@font-face {
  font-family: font4;
  src: url(/src/assets/NeueMontreal-Regular.woff);
}
@font-face {
  font-family: font5;
  src: url(/src/assets/NeueMontreal-Regular.woff2);
}